In [31]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [32]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [33]:
from sqlalchemy import text

In [53]:
def rental_month(connection, month, year):
    # SQL query to get month and year from rentals
    query = text('''
        SELECT 
            MONTH(rental_date) AS rental_month,
            YEAR(rental_date) AS rental_year
        FROM rental
        WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year;
    ''')
    result = connection.execute(query, {'month': month, 'year': year})
    return pd.DataFrame(result.fetchall(), columns=['rental_month', 'rental_year'])

def rental_count_month(connection, month, year):
    # Check if rentals exist for the given month and year
    rental_data = rental_month(connection, month, year)
    if rental_data.empty:
        print(f"No rentals found for {month}/{year}.")
        return rental_data
    
    query = text('''
        SELECT 
            customer_id,
            MONTH(rental_date) AS rental_month,
            YEAR(rental_date) AS rental_year,
            COUNT(customer_id) AS rental_count
        FROM rental
        WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year
        GROUP BY rental_month, rental_year, customer_id
    ''')
    result = connection.execute(query, {'month': month, 'year': year})
    df = pd.DataFrame(result.fetchall(), columns=['customer_id', 'rental_month', 'rental_year', 'rental_count'])
    
    # Dynamically renaming the column based on the month and year
    dynamic_column_name = f'rental_count_{month}_{year}'
    df = df.rename(columns={'rental_count': dynamic_column_name})
    return df


with engine.connect() as connection:
    result_df = rental_count_month(connection, '5', '2005')
    print(result_df)

     customer_id  rental_month  rental_year  rental_count_5_2005
0            130             5         2005                    2
1            459             5         2005                    1
2            408             5         2005                    3
3            333             5         2005                    1
4            222             5         2005                    5
..           ...           ...          ...                  ...
515          191             5         2005                    2
516          351             5         2005                    1
517           10             5         2005                    1
518          136             5         2005                    1
519           61             5         2005                    1

[520 rows x 4 columns]

In [ ]:
def compare_rentals (connection,month_1, year_1, month_2, year_2) :
    rental_1 = rental_count_month(connection, month_1, year_1)
    rental_2 = rental_count_month(connection, month_2, year_2)
    #Creation of a new df by merging both rental. We link it by customer_id and do outer join to include customer available only in one df
    merged_df = pd.merge(rental_1, rental_2, on="customer_id", how="outer", suffixes=(f"_{month_1}_{year_1}", f"_{month_2}_{year_2}"))
    #Compare the 2 columns
    merged_df['difference'] = merged_df[f'rental_count_{month_1}_{year_1}'] - merged_df[f'rental_count_{month_2}_{year_2}']
    #rename the columns
    dynamic_column_name_1 = f'rentals_{month_1}_{year_1}'
    dynamic_column_name_2 = f'rentals_{month_2}_{year_2}'
    merged_df = merged_df.rename(columns= {f'rental_count_{month_1}_{year_1}': dynamic_column_name_1,
        f'rental_count_{month_2}_{year_2}': dynamic_column_name_2
    })
    #Drop the extra columns for lisibility 
    merged_df = merged_df.drop(columns=[f'rental_month_{month_1}_{year_1}', f'rental_year_{month_1}_{year_1}', 
                                        f'rental_month_{month_2}_{year_2}', f'rental_year_{month_2}_{year_2}'], errors='ignore')
    return merged_df

with engine.connect() as connection:
    result_df = compare_rentals (connection, '5', '2005', '6', '2005')
    print(result_df)

     customer_id  rentals_5_2005  rentals_6_2005  difference
0              1             2.0             7.0        -5.0
1              2             1.0             1.0         0.0
2              3             2.0             4.0        -2.0
3              4             NaN             6.0         NaN
4              5             3.0             5.0        -2.0
..           ...             ...             ...         ...
593          595             1.0             2.0        -1.0
594          596             6.0             2.0         4.0
595          597             2.0             3.0        -1.0
596          598             NaN             1.0         NaN
597          599             1.0             4.0        -3.0

[598 rows x 4 columns]